* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  background: url(./media/wallpaperbetter.jpg) fixed no-repeat; /*Cambiar*/
  width: 90vw;
  margin-top: 5vh;
}

nav {
  height: 95vh;
  width: 15vw;
  list-style-type: none;
  overflow: auto;
  border-radius: 8px 0px 0px 8px;
  background-color: #bad9d3; /*Cambiar*/
}

header {
  text-align: center;
  height: 5%;
  background-color: #a0c4f2; /*Cambiar*/
  display: flex;
  justify-content: space-around;
  border-radius: 0 8px 0 0;
}

h1 {
  margin: unset;
}

h1,
h2,
h3,
h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  height: 50px;
}

h3 {
  height: 45px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: block;
}

li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
}
li a:hover {
  background-color: #a7cff2bd; /*Cambiar*/
  transition: 0.5s;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  height: 90vh;
  background-color: #a7cff2; /*Cambiar*/
  border-radius: 0 8px 8px 0;
  width: 60vw;
  overflow-y: auto;
}

section {
  border-radius: 5px;
  margin: 15px 20px;
}

#section1 {
  margin-top: 2%;
}

#indice {
  /* Marcar psemi-clase:target  */
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  color: white;
  background-color: #335928b6; /*Cambiar*/
}
